.no_dots {
  list-style: none;
  white-space: nowrap;
}

.container {
  width: 50%;
  /* 或者其他百分比或固定宽度 */
  height: auto;
  /* 高度自适应 */
  margin: 0% auto;
}

.navbar>nav .navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  white-space: nowrap;
  transition: width .5s ease;
}

.video {
  width: "80";
}

.medir p {
  font-size: 60px;

  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  color: red;
}

ol {
  color: blue;
  font-size: 64px;
}

p {
  font-size: 30px;
}

form {
  display: inline;
}

li {
  display: inline;
  margin-right: 10px;
  font-size: 100%;
  list-style: none;
}

ul {
  display: inline;
}

.on_dot {
  float: left;
}

.on_dots {
  float: right;
}

img {
  max-width: 60%;
  /* 图片最大宽度为容器宽度 */
  height: auto;
  /* 高度自适应维持图片比例 */
  display: block;
  /* 去除图片下方的空白间隙 */
}

.images img {
  text-align: justify;
  margin: auto;
}

.images {
  text-align: center;
}